$yellow: #f7c700;
$green: #43d9ad;
$blue: #4d5bce;
$white: #e5e9f0;
$gray: #607b96;
$dark-gray: #1c2b3a;
$blue: #011627;
$dark-blue: #011221;
$background-color: #010c15;
$border-color: #1e2d3d;

$font-size-base: 16px;
$padding-base: 16px;
$border-radius-base: 8px;
