@import "mixins";

.yellow {
  @include button;
  @include button-yellow;
}

.gray {
  @include button;
  @include button-gray;
}

.white {
  @include button;
  @include button-white
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ffffff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
